fastapi
uvicorn[standard]
sqlalchemy
greenlet
asyncpg
alembic
psycopg2-binary
python-dotenv
gunicorn
bcrypt
pyjwt
email-validator
python-multipart
httpx
cryptography
boto3
pydantic-settings
joblib
scikit-learn==1.6.1
numpy
google-genai
